In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("/content/Loan 2.csv")

In [ ]:
df.head()

In [ ]:
df.shape

(30000, 24)

- Checking null values in Each column

In [ ]:
df.isnull().sum()

Customer ID                       0
Name                              0
Gender                           53
Age                               0
Income (USD)                   4576
Income Stability               1683
Profession                        0
Type of Employment             7270
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)     172
Expense Type 1                    0
Expense Type 2                    0
Dependents                     2493
Credit Score                   1703
No. of Defaults                   0
Has Active Credit Card         1566
Property ID                       0
Property Age                   4850
Property Type                     0
Property Location               356
Co-Applicant                      0
Property Price                    0
Loan Sanction Amount (USD)      340
dtype: int64

In [ ]:
k=df["Gender"].mode()[0]
# Filling the most frequent value in the "Gender" column using the mode() function

In [ ]:
df["Gender"].fillna(value=k,inplace=True)
# Filled missing values in the "Gender" column with the most frequent gender value

In [ ]:
df.dropna(subset="Income (USD)",axis=0,inplace=True)
# Drop rows with missing values in the "Income (USD)" column

In [ ]:
incomeV=["High" if i>=df["Income (USD)"].mode()[0] else "Low" for i in df["Income (USD)"]]
df["Income Stability"].fillna(value=pd.Series(incomeV), inplace=True)

- Defined income stability categories based on income levels:
- If an individual's income is equal to or above the mode income, they are categorized as "High".
- Otherwise, they are categorized as "Low".
- Filled missing values in the "Income Stability" column with the defined categories

In [ ]:
null_check=df[df["Income Stability"].isnull()]

In [ ]:
null_check

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),...,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD)
25437,C-1631,Lavern Haan,F,18,3070.84,NaN,Commercial associate,NaN,Semi-Urban,24347.18,...,792.43,0,Inactive,24,3070.84,1,Semi-Urban,1,41133.35,17043.03
25442,C-15650,Alethia Barberio,M,52,5574.73,NaN,Commercial associate,NaN,Semi-Urban,88174.85,...,670.01,0,Active,354,5574.73,3,Rural,1,102096.13,57313.65
25459,C-25825,Magdalena Ratliff,F,28,1565.81,NaN,Working,Core staff,Semi-Urban,39872.50,...,811.45,0,Inactive,966,1565.81,3,Rural,1,64463.79,31898.00
25465,C-20163,Vaughn Armistead,M,64,1716.79,NaN,Working,Laborers,Rural,25968.80,...,708.11,0,Active,569,1716.79,3,Rural,1,43018.79,NaN
25497,C-3163,Herbert Beckmann,F,62,1162.04,NaN,Working,Sales staff,Semi-Urban,25300.42,...,613.78,0,Unpossessed,304,1162.04,3,Rural,1,43115.88,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29875,C-269,Jennell Geiser,F,64,1986.60,NaN,Pensioner,NaN,Semi-Urban,199191.79,...,825.34,0,Active,947,1986.60,4,Urban,1,336032.01,159353.43
29876,C-16480,Adrianna Eriksen,F,19,1395.21,NaN,Working,Sales staff,Semi-Urban,84647.25,...,724.49,0,Inactive,426,1395.21,1,Urban,1,113083.42,59253.08
29911,C-4039,Xavier Mummert,F,36,1537.73,NaN,Working,NaN,Semi-Urban,140143.96,...,815.09,0,Active,111,1537.73,3,Urban,1,260180.01,105107.97
29914,C-10991,Herma Seawood,F,65,2941.17,NaN,Pensioner,NaN,Rural,102539.80,...,764.71,0,Active,395,2941.17,4,Rural,1,143365.18,76904.85
29984,C-21758,Illa Hartgrove,F,59,1930.71,NaN,Working,Laborers,Semi-Urban,63676.11,...,729.75,0,Active,940,1930.71,2,Rural,1,76539.32,44573.28


- Checked for null values in the "Income Stability" column.
and we can see that we have some null values still left so we are going to drop those rows so that it dont affect later on

In [ ]:
df.dropna(subset=["Income Stability"],axis=0,inplace=True)

- Filling Value of column "Type of Employment" 's null with 0

In [ ]:
df["Type of Employment"].fillna(value=0,inplace=True)

- Filling null values in the "Current Loan Expenses (USD)" column with the "ffill" method

In [ ]:
df["Current Loan Expenses (USD)"].fillna(value="ffill",inplace=True)

- Filling null values in the "Dependents" column with the rounded mean value

In [ ]:
df["Dependents"].fillna(value=round(df["Dependents"].mean()),inplace=True)

- Filling null values in the "Credit Score" column with the mean value

In [ ]:
df["Credit Score"].fillna(value=df["Credit Score"].mean(),inplace=True)

- Filling null values in the "Has Active Credit Card" column with the mode value

In [ ]:
df['Has Active Credit Card'].fillna(value=df['Has Active Credit Card'].mode()[0], inplace=True)

- Filling null values in the "Property Age" column with the median value

In [ ]:
df['Property Age'].fillna(value=df['Property Age'].median(), inplace=True)

- For the "Property Location" column, filling null values with the mode (most frequent value)

In [ ]:
df['Property Location'].fillna(value=df['Property Location'].mode()[0], inplace=True)

- For the "Loan Sanction Amount (USD) " column, filling null values with the  forward fill value

In [ ]:
df["Loan Sanction Amount (USD)"].fillna(value="ffill",inplace=True)

In [ ]:
df.isnull().sum()#final check to ensure no null vlaues are left

Customer ID                    0
Name                           0
Gender                         0
Age                            0
Income (USD)                   0
Income Stability               0
Profession                     0
Type of Employment             0
Location                       0
Loan Amount Request (USD)      0
Current Loan Expenses (USD)    0
Expense Type 1                 0
Expense Type 2                 0
Dependents                     0
Credit Score                   0
No. of Defaults                0
Has Active Credit Card         0
Property ID                    0
Property Age                   0
Property Type                  0
Property Location              0
Co-Applicant                   0
Property Price                 0
Loan Sanction Amount (USD)     0
dtype: int64